h1{
    background-color: aqua;
    color: azure;
    text-align: center;
}
.text{
    text-align: center;
    background-color: bisque;
}
img{
    width: 500px;
}
html{
    scroll-behavior: smooth;
}
.container{
    display: grid;
    flex-direction: row;
    padding: 10px;
}